/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

:root,
body {
    background-color: #eaeaea;
    color: #1f1f1f;
    min-height: 100vh;
}

.nav-link {
    color: white;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-accent);
}
